@font-face {
    font-family:FastFuriousFont ;
    src: url(Antique-Olive-Std-Nord-Italic.ttf);
}
body {
    background-color: blue;
    min-height: 100%;
    max-width: 100%;
    font-family: Lato, sans-serif;
}

.container {
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    
}

.game-wrap {
    position: relative;
    padding: 20px 0 0;
}

canvas {
    position: relative;
    max-width: 100%;
    border: 2px solid blanchedalmond;
    max-height: 100%;
    display: block;
    margin: 0 auto
}
.content {
    color: aqua;
    text-align: center;
    padding: 0 20px;
}

p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5em;
}    
code {
    background-color: yellowgreen;
    background: linear-gradient(rgb(124, 124, 124), rgb(240, 0, 0));
    line-height: 1.3em;
    display: inline-block;
    border-radius: 3px;
    font-family: monospace;
    padding: 1px 5px;
    margin: 0 2px;
}
.title {
    font-size: 40px;
    font-weight: 900;
    margin: 20px 0;
}

.title span:nth-child(1) {
    color: chocolate;
}

.title span:nth-child(2) {
    color: rgb(210, 30, 108);
}

.title span:nth-child(3) {
    color: rgb(30, 210, 60);
}

.title span:nth-child(4) {
    color: rgb(30, 150, 210);
}

.title span:nth-child(5) {
    color: rgb(210, 153, 30);
}

.title span:nth-child(6) {
    color: rgb(210, 30, 33);
}

.title span:nth-child(7) {
    color: rgb(171, 210, 30);
}

.title span:nth-child(8) {
    color: rgba(210, 30, 30, 0.888);
}

.title span:nth-child(9) {
    color: rgba(87, 30, 210, 0.918);
}

.title span:nth-child(10) {
    color: rgb(210, 30, 129);
}

.title span:nth-child(11) {
    color: rgb(78, 30, 210);
}

.title span:nth-child(12) {
    color: rgb(210, 174, 30);
}

.title span:nth-child(13) {
    color: rgb(30, 210, 177);
}

.title span:nth-child(14) {
    color: rgb(30, 168, 210);
}

.title span:nth-child(15) {
    color: chocolate;
}




